@page
@{ 
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Testando</a>.</p>
</div>

<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm-6">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <td>Pesquisa</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
				<tr>
					<td>Jucesp</td>
					<td class="text-center">
						<button type="button" class="btn btn-primary btn-lg" onclick="location.href='/Home/InfoCrim'">
							Play Jucesp
						</button>
					</td>
					<td>Siel</td>
					<td class="text-center">
						<button type="button" class="btn btn-primary btn-lg" onclick="location.href='/Home/Siel'">
							Play Siel
						</button>
					</td>
				</tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm"></div>
</div>
