
@model MPSP.Model.Search.Jucesp;
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";

}

<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm-6">
        <div class="form-group">
            <label>Nome:</label>
            <input type="text" class="form-control input-sm" value="@Model.Descricao" disabled />
        </div>
    </div>
    <div class="col-sm"></div>
</div>